<h2>{{board.title}}</h2>
<div class="board">
    <div class="todo">
        <h3 class="card-title">Todo</h3>
        <div class="tasks-container">
            {{#each tasks}}
            {{#ifeq status "todo"}}
            <div class="task">
                <textarea spellcheck="false" class="task-description" data-note-id="{{_id}}">{{description}}</textarea>
                <div class="task-buttons-container">
                    <button class="mv-to-ip-btn" onclick="changeTaskStatus('{{_id}}', 'in progress')">In
                        progress</button>
                    <button class="mv-to-done-btn" onclick="changeTaskStatus('{{_id}}', 'done')">Done</button>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
    </div>
    <div class="in-progress">
        <h3 class="card-title">In progress</h3>
        <div class="tasks-container">
            {{#each tasks}}
            {{#ifeq status "in progress"}}
            <div class="task">
                <textarea spellcheck="false" class="task-description" data-note-id="{{_id}}">{{description}}</textarea>
                <div class="task-buttons-container">
                    <button class="mv-to-ip-btn" onclick="changeTaskStatus('{{_id}}', 'todo')">Todo</button>
                    <button class="mv-to-done-btn" onclick="changeTaskStatus('{{_id}}', 'done')">Done</button>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
    </div>
    <div class="done">
        <h3 class="card-title">Done</h3>
        <div class="tasks-container">
            {{#each tasks}}
            {{#ifeq status "done"}}
            <div class="task">
                <textarea spellcheck="false" class="task-description" data-note-id="{{_id}}">{{description}}</textarea>
                <div class="task-buttons-container">
                    <button class="mv-to-ip-btn" onclick="changeTaskStatus('{{_id}}', 'todo')">Todo</button>
                    <button class="mv-to-done-btn" onclick="changeTaskStatus('{{_id}}', 'in progress')">In progress</button>
                </div>
            </div>
            {{/ifeq}}
            {{/each}}
        </div>
    </div>
</div>