<ul class="main-nav">
  {{#each boards}}
    <li class="main-nav-item">
      <button
        onclick="deleteBoard('{{_id}}', '{{title}}')"
        class="delete-board-btn"
      >❌</button>
      <a href="/board/{{_id}}" {{#ifeq _id ../board.id}} class="selected-board" {{else}} class="non-selected-board" {{/ifeq}}>
        {{getFirstCharOfString title}}
      </a>
    </li>
  {{/each}}
  <li class="main-nav-item add-new-board">
    <button class="add-new-board-btn" onclick="addNewBoard()">➕</button>
  </li>
</ul>